[Unit]
Description=Flaschen Taschen Daemon

[Service]
WorkingDirectory=/opt/pygame-ft/lib/flaschen-taschen/server
ExecStart=/opt/pygame-ft/lib/flaschen-taschen/server/ft-server --led-rows=64 --led-cols=64 --led-chain=4 --led-parallel=2 --led-slowdown-gpio=3
Restart=always
Type=simple
# StandardOutput=null
# StandardError=null

[Install]
WantedBy=default.target
